<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609237223462-qnpj2kgrfb2uvm35m2qucif1e8a7mqmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609237223462-qnpj2kgrfb2uvm35m2qucif1e8a7mqmp</string>
	<key>API_KEY</key>
	<string>AIzaSyAXo9YufqtotgAIU40o5VAJayMZi-8ixV4</string>
	<key>GCM_SENDER_ID</key>
	<string>609237223462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>magmalabs.RunningApp</string>
	<key>PROJECT_ID</key>
	<string>runningapp-efd3e</string>
	<key>STORAGE_BUCKET</key>
	<string>runningapp-efd3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609237223462:ios:0b606c5cbeecc0b44dbee7</string>
</dict>
</plist>